.date {
  font-size: 1rem;
  color: grey;
}

.weather {
  flex-grow: 1;
  text-align: center;
}

.temperature {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
  text-align: left;
  color: grey;
}

.now .temp {
  font-size: 3rem;
  color: black;
}

.description {
  text-transform: capitalize;
}

.sun {
  margin: 0;
  font-size: .8rem;
}

.sun dd {
  margin-left: 0;
}

.sun dd + dt {
  padding-top: 5px;
}