.forecast {
  display: flex;
  gap: 20px;
  width: 80vw;
  margin: 0 auto;
  padding-top: 200px;
  opacity: 0;
  transition: opacity .4s ease;
}

.forecast.active {
  opacity: 1;
}

.column {
  width: 50%; 
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.column h2 {
  font-size: 2rem;
  margin: 0 0 20px;
}

.days {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
  white-space: nowrap;
}